 <section class="c-hero-user-profile">

  <h2 class="c-hero-container_pages">User Profile</h2>
  <div class="c-hero-container-outer"></div>

</section>

<div class="asset-render">

  <span style="display: none" class="asset-class-type"><%= @user.class %></span>
  <span style="display: none" class="asset-class-id"><%= @user.id %></span>
  <span style="display: none" class="user-id"><%= session[:user_id] %></span>
  <div class="user-container-all">
    <div class="user_pic"><img src="http://i242.photobucket.com/albums/ff306/dutchart2/Saurondetail1.jpg" width="250" height="250"/></div>
      <div class="user-content-box">
      <span class="content-titles">Name:</span>
      <div class="content-body"><%= @user.name %><br>
      <span class="content-titles">Email:</span>
      <div class="content-body"><%= @user.email %></div>
      <span class="content-titles">Github:</span>
      <div class="content-body"><%= @user.github %><br>
      <span class="content-titles">Location:</span>
      <div class="content-body"><%= @user.location %><br>
      <span class="content-titles">Facebook:</span>
      <div class="content-body"><%= @user.facebook %><br>
      <span class="content-titles">Twitter_handle:</span>
      <div class="content-body"><%= @user.twitter_handle %><br>
      <span class="content-titles">Linkedin:</span>
      <div class="content-body"><%= @user.linkedin %><br>
      <span class="content-titles">Workplace:</span>
      <div class="content-body"><%= @user.workplace %><br>
  </div>
</div>
  <br /><br />

  <%= link_to "Home", root_path %>

</div>



