    <div class="c-hero-challenge"></div>

    <h2 class="c-hero-container_pages"><%= @user.name %>'s Profile</h2>

    <div class="c-hero-container-outer">
    </div>

  <br/ ><br/ >

<div class="asset-render">

  <span style="display: none" class="asset-class-type"><%= @user.class %></span>
  <span style="display: none" class="asset-class-id"><%= @user.id %></span>
  <span style="display: none" class="user-id"><%= session[:user_id] %></span>

  Name:<%= @user.name %><br>
  Email: <%= @user.email %><br>
  Github: <%= @user.github %><br>
  Location: <%= @user.location %><br>
  Facebook: <%= @user.facebook %><br>
  Profile_pic: <%= @user.profile_pic %><br>
  Twitter_handle: <%= @user.twitter_handle %><br>
  Linkedin: <%= @user.linkedin %><br>
  Workplace: <%= @user.workplace %><br>
  Provider: <%= @user.provider %><br>
  uid: <%= @user.uid %><br>


  <br /><br />

  <!-- COMMENTS/SOLUTIONS LINKS START -->
    <a href="#" class="show-comments">View Comments</a> |
    <a href="#">View Solution</a>
  <!-- COMMENTS/SOLUTIONS LINKS END -->

  <br /><br />

  <!-- TAG FORM START -->
    <form class="asset-tag-form">
      <label for='Tag It'>Tag this: </label>
      <input type="text_field" />
      <input type="submit" value="Tag It" />
    </form>
  <!-- TAG FORM END -->

  <!-- VOTES START -->
    Votes: <%= @user.votes.count %> -
    <a href ="#" class="asset-create-vote">
    <%= image_tag('thumbs_up.jpg', width:'18') %></a>
  <!-- VOTES END -->

  <br /><br />

  <%= link_to "Home", root_path %>

</div>



