<div>
  <h1>List of Challenges</h1>
  <% @challenges.each do |challenge| %>
  <%= challenge.title %>
  <%= challenge.description %>
  <%= challenge.github_url %>
  <%= challenge.external_url %>
  <%= challenge.difficulty %>
  <%= challenge.image_url %>
  <% end %>
  <!-- this is the page that will display a (partial) form to edit a challenge -->
  <% @challenges.each do |challenge| %>
  <%= challenge.title %><br>
  <% end %>
</div>
