 <h1>Challenge Show Page</h1><br>

  <!-- this is a page that will display a single challenge - be sure to include an edit and delete button if creator id and session id match -->

  <!-- this page will also  display all the solutions for this challange, as well as a form (ajax) that allows for the submission of a new solution -->

User ID: <%= @challenge.user_id %>
<br/ ><br/ >
  <strong>Title:</strong> <%= @challenge.title %><br>
  Description: <%= @challenge.description %><br>
  Github url: <%= @challenge.github_url %><br>
  External url: <%= @challenge.external_url %><br>
  Image url: <%= @challenge.image_url %><br>
  Difficulty: <%= @challenge.difficulty %><br>
