<!DOCTYPE html>
<html>
<head>
  <title>Phase4test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="p-sm cf ">
    <h1 class="fl-l ">
      <img src="http://devbootcamp.com/assets/img/devbootcamp-logo.png"></img>
    </h1>
    <nav class="fl-r ">
      <ul class="cf  phase4-nav">
        <li><a href="/users">MEMBERS</a></li>
        <li><a href="/users/#{user_id}/challenges">CHALLENGES</a></li>
        <li><a href="/resources">RESOURCES</a></li>
        <li><a href="/projects">PROJECTS</a></li>
        <li>
          <div class="login">
            <%if current_user%>
            Welcome <%=current_user.name%>
            <% else %>
            LOGIN
            <br>
            WITH GITHUB
            <% end %>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <%= yield %>

</body>
</html>
