<!DOCTYPE html>
<html>
<head>
  <title>Phase4test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="p-sm cf ">
    <h1 class="fl-l ">
      <img src="http://devbootcamp.com/assets/img/devbootcamp-logo.png"></img>
    </h1>
    <nav class="fl-r ">

        <ul class="cf  phase4-nav">


        <% if session[:user_id] %>

        <li><%= link_to 'HOME', root_path %></li>
        <li><%= link_to 'MEMBERS', users_path %></li>

        <li><%= link_to 'CHALLENGES', user_challenges_path(session[:user_id]) %></li>

        <li><%= link_to 'RESOURCES', user_resources_path(session[:user_id]) %></li>

        <li><%= link_to 'PROJECTS', user_projects_path(session[:user_id]) %></li>
        <% end %>


          <li>
            <div class="login">
              <%if current_user%>
              Welcome <%=current_user.name%>
              <% else %>
              LOGIN
              <br>
              WITH GITHUB
              <% end %>
            </div>
          </li>
        </ul>

    </nav>
  </header>
  <%= yield %>



  <div class="comments-template" >

    <div class = "comment-box asset-render hider" style="display: none">

      <span  style="display: none" class="asset-class-type"></span>
      <span  style="display: none" class="asset-class-id"></span>
      <span  style="display: none" class="user-id"></span>

      <div class="comment-votes">
        <span class="asset-vote-count">Votes:</span>
        <a href="/votes" class="asset-create-vote"><%= image_tag('thumbs_up.jpg', width:'18') %></a>
      </div>
      <%= image_tag('Close.png', width:'18', :class => "asset-close-comment") %>
      <div class="comment-box-body">
        <div class="content-titles">Comment:
        </div>
        <div class="content-body"></div><br  />
        <span class="content-titles">Author: </span>
        <span class="content-body comment-author">

        </span><br /><br />
        <span class="content-titles">Posted: </span>
        <span class="content-body">

        </span><br /><br />
        <!-- POST COMMENT BUTTON START -->
          <div class="comment-button">
            <form>
              <input type="submit" class="asset-create-comment" value="Post a comment">
            </form>
          </div>
        <!-- POST COMMENT BUTTON END -->
        <!-- TAG FORM START -->
         <div class="tagit-form">
          <form class="asset-tag-form" action="/tags">
            <span class="content-titles">
              <label for='Tag It'>Tag this: </label>
            </span>
            <input type="text_field" class="tag-field"/>
            <input type="submit" value="Tag It" />
          </form>
        </div>
      <!-- TAG FORM END -->
      </div>
    </div>
    <div class="comments-div">
    </div>
  </div>
    <!-- COMMENT BOX END -->



  </body>
</html>
